.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modalContent {
  position: fixed;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  max-width: 95%;
  max-height: 80svh;
  height: 80svh;
}

.btnContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 8px;
}

.cardContainer {
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
  margin: 0px auto;
}

.comboContainer {
  display: flex;
  border: 2px solid pink;
  border-radius: 12px;
  max-height: 81px;
  min-height: 81px;
  gap: 16px;
  padding: 10px;
  flex-wrap: wrap;
  overflow: scroll;
}
