/* Modal.css */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 3;
}

.modalContent {
  position: fixed;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 40%;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

.formContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
  margin: 0px auto;
}

.resultContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 100%;
}

.resultContainer > button {
  width: 80px;
}

.winButton {
  background-color: #86efac;
}

.lossButton {
  background-color: #fca5a5;
}

.lossButton:hover {
  color: #dc2626;
  bordeR: 1px solid #dc2626;
}


@media (max-width: 986px) {
  .modalContent {
    max-width: 70%;
  }
}

@media (max-width: 566px) {
  .modalContent {
    max-width: 90%;
  }
}

@media (max-width: 450px) {
  .curveBtnContainer {
    flex-wrap: wrap;
  }
}
