.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 40svw;
  margin: 0px auto;
  font-size: 10px;
}
.btn {
  margin: 0px auto;
  width: 40%;
}

.matchesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.matchHistoryContainer {
  background-color: #dcfce7;
  text-align: center;
}

.matchInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.loss {
  background-color: #ffe4e6;
}

@media (max-width: 1038px) {
  .container {
    width: 50svw;
  }
}

@media (max-width: 664px) {
  .container {
    width: 60svw;
  }
}

@media (max-width: 460px) {
  .container {
    width: 80svw;
  }
}