.container {
    display: flex;
    flex-direction: column;;
    gap: 8px;
}
.btn {
    margin: 0px auto;
    width: 40%;
}

.matchHistoryContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #dcfce7;
    border-radius: 12px;
}

.loss {
    background-color: #ffe4e6;
}