.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.btn {
  margin: 0px auto;
  width: 40%;
}

.matchesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.matchHistoryContainer {
  background-color: #dcfce7;
  border-radius: 12px;
  text-align: center;
}

.matchInfo {
  display: flex;
  justify-content: space-evenly;
}

.eventName {
  padding: 5px;
}

.loss {
  background-color: #ffe4e6;
}
