.container {
  display: flex;
  max-width: 40svw;
  flex-wrap: wrap;
  gap: 6px;
}

@media (max-width: 920px) {
  .container {
    max-width: 90svw;
    overflow: scroll;
    border: 1px solid black;
    margin: auto;
  }
}

@media (max-width: 410px) {
  .container {
    max-width: 95svw;
  }
}
