.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
  }
  
  @media (max-width: 760px) {
    .container {
      flex-direction: column;
    }
  }
  

  .txtArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .txtArea > h2 {
    text-align: center;
  }

  .txtArea > button {
    width: 100%;
  }

