.btnContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 8px;
}

.curveTextContainer {
  display: flex;
  justify-content: space-between;
}

.curveText {
  font-weight: bold;
}

.comboContainer {
  display: flex;
  border: 2px solid pink;
  border-radius: 12px;
  max-height: 81px;
  min-height: 81px;
  gap: 16px;
  padding: 10px;
  flex-wrap: wrap;
  overflow: scroll;
  height: 200px;
}

.submitPopup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 12px;
  z-index: 2;
  border: 1px solid rgb(72, 199, 142);
  background-color: rgb(72, 199, 142);
  color: white;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.submitPopupHidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
