a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  color: white;
  background-color: cadetblue;
  padding: 12px;
}