a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #818589;
}

button {
  border: 1px solid cadetblue;
  color: cadetblue;
  background-color: white;
  padding: 12px;
}

button:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: white;
  border: 1px solid cadetblue;
}

footer {
  font: 8px;
  color: #b2beb5;
  margin-top: 45px;
  text-align: center;
}
