a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

button {
  /* border-radius: 16px; */
  border: 1px solid cadetblue;
  color: cadetblue;
  background-color: white;
  padding: 12px;
}

button:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: white;
  border: 1px solid cadetblue;
}