.landing {
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  width: 90%;
  height: 100%;
  min-height: 500px;
  border: 2px solid black;
  justify-content: center;
}

.newsItem {
  width: 95%;
  margin: auto;
  margin-bottom: 16px;
}

@media (max-width: 705px) {
  .setTxt {
    display: none;
  }
}

@media (max-width: 458px) {
  .landing {
    border: none;
  }
}
