.deckTable {
  width: 100%;
  text-align: left;
  max-width: 700px;
  margin: auto;
  margin-top: 16px;
  border-collapse: collapse;
}

.tableItem {
  height: 70px;
}

.tableItem:hover {
  background-color: #f2f4f5;
}

.rowLink:hover {
  color: black;
}

.rowLink::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: 55px;
  margin: auto;
  margin-top: -16px;
}
