/* Modal.css */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: fixed;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 40%;
  max-height: 80svh;
  overflow: scroll;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}
