.mainContent {
    display: flex;
    width: 95svw;
    /* margin: auto; */
    gap: 16px;
    justify-content: center;
}

@media (max-width: 920px) {
    .mainContent {
      flex-direction: column;
    }
  }